<h1>Editing succulent</h1>

<%= render "form", succulent: @succulent %>

<br>

<div>
  <%= link_to "Show this succulent", @succulent %> |
  <%= link_to "Back to succulents", succulents_path %>
</div>
